---
import PageLayout from '../layouts/PageLayout.astro'
import FileUpload from '../components/FileUpload/FileUpload'
---

<PageLayout title='Prévia - Upload'>
    <main>
        <FileUpload client:load/>
    </main>
</PageLayout>
