---
import Page from '../layouts/Page.astro'
import FileUpload from '../components/FileUpload/FileUpload'
---

<Page title='Prévia - Upload'>
    <main>
        <FileUpload client:load/>
    </main>
</Page>
