---
import '../styles/base.css'
import Header from './Header.astro'
import AuthModal from '../components/Auth/Modal'

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang='pt-BR'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Financial Hub'>
		<meta name='generator' content={Astro.generator} />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{title}</title>
  </head>
  <body>
    <Header>
      <slot name="header-center" slot="header-center" />
    </Header>
    <slot />
    <AuthModal client:load />
  </body>
</html>